<a href="https://colab.research.google.com/github/roklp/MLP34/blob/main/231229.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리
-  Dictionary : 영어 및 국어사전
-  구성 : key-value, keyword(=key), 결괏값(=value)
 + 문자열, 리스트, tuple : 데이터 조회 시, 인덱싱 또는 슬라이싱
 + 딕셔너리에서 값을 조회하는 방법은 key 값을 통해서 값을 조회

In [24]:
country_capital = {
    "대한민국": "서울",
    "프랑스": "파리",
    "미국": "워싱턴",
    "창원": "NC"
}

country_capital  # key 값은 중복으로 만들 수 없음

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '창원': 'NC'}

In [5]:
country_capital['창원'] # key값을 통해 조회가능

'NC'

In [7]:
data = {1:'버스', 3:'비행기'}
data

# 숫자 1은, 리스트, 문자열, tuple 인덱스 번호와는 다른 숫자
#현재 여기에서의 숫자 1은 key값임
data[1]

'버스'

In [8]:
data2 = {'list1' : [1, 2, 3,], 'list2': [4, 5, 6]}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6]}

In [9]:
data3 = {'list1' : [1, 2, 3], 'list2' : [4, 5, 6], 1:'테스트', 2 : 100}
data3

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트', 2: 100}

## 딕셔너리 사용처
- 데이터 분석 : 엑셀 데이블
 + 데이터 가공

 - HTML, CSS, 인터넷 자료형 중, JSON 데이터 포맷
 - JSON 데이터 포맷 ==> 딕셔너리와 동일
  + API 데이터 크롤링, 기본 자료형(JSON) ==> 딕셔너리 변환, 변환 후 데이터 가공

## 딕셔너리 다루기
- 딕셔너리의 value 값 수정하는 방법

In [11]:
# 내가 좋아하는 도시 이름으로 바꾸고싶어우어

country_capital['대한민국'] = '창원'
country_capital

{'대한민국': '창원', '프랑스': '파리', '미국': '워싱턴', '창원': 'NC'}

In [13]:
# del (삭제하는방법)

del country_capital['미국']

country_capital

{'대한민국': '창원', '프랑스': '파리', '창원': 'NC'}

In [14]:
country_capital['일본'] = '도쿄'
country_capital

{'대한민국': '창원', '프랑스': '파리', '창원': 'NC', '일본': '도쿄'}

## 딕셔너리 메서드

In [16]:
print(type(country_capital)) # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 메서드를 사용할 수 있음
country_capital.keys()

<class 'dict'>

dict_keys(['대한민국', '프랑스', '창원', '일본'])

In [17]:
country_capital.values()

dict_values(['창원', '파리', 'NC', '도쿄'])

In [18]:
country_capital.items()

dict_items([('대한민국', '창원'), ('프랑스', '파리'), ('창원', 'NC'), ('일본', '도쿄')])

In [19]:
print(type(country_capital.keys()))

<class 'dict_keys'>

In [20]:
# 데이터 형변환
list(country_capital.keys())

['대한민국', '프랑스', '창원', '일본']

In [22]:
new_df = {
    '인천' : 'SK' , '린천' : 'SSG', '브랜드' : '이재원'
}
country_capital.update(new_df)
country_capital

{'대한민국': '창원',
 '프랑스': '파리',
 '창원': 'NC',
 '일본': '도쿄',
 '인천': 'SK',
 '브랜드': '이재원',
 '린천': 'SSG'}

In [23]:
country_capital.clear() # 빈 Dictionary  생성
country_capital

{}

In [25]:
country_capital = {
    "대한민국": "서울",
    "프랑스": "파리",
    "미국": "워싱턴",
    "창원": "NC"
}

print(type(country_capital)) # 딕셔너리 객체
# 딕셔너리가 보유한 클래스 매서드를 사용할 수 있음
result = country_capital.keys()
result.append('창원')

<class 'dict'>

AttributeError: ignored

In [26]:
result = list(country_capital.keys())
result.append('창원')

# if 조건문
- 만약 A라면 ~일 것이다
- 프로그래밍에서
 + 만약 조건이 True라면 ~를 해라
 + 참과 거짓을 만드는게 중요

In [30]:
x = int(input("점수를 입력하세요"))  # 문자를 숫자로 형변환
if x >= 90:  # << 이거 설계 잘해야함
    print("합격")

elif x >=80:
  print("부분합격, 면접 필요")

else :
  print("불합격")

점수를 입력하세요85
부분합격, 면접 필요

 - 조건문을 문장으로 먼저 만드는 훈련을 하는게 중요

In [32]:
x = int(input("점수"))

if x >=90:
  print("A")

elif x >=80:
  print("B")

elif x >=70:
  print("C")

elif x >=60:
  print("D")

else:
  print("F")

점수50
F

In [34]:
# 중첩 조건문
# if 조건문 내부에 또다른 조건문 생성
x = int(input("점수를 입력하세요..."))  # 문자를 숫자로 형변환

if x >= 90:
    print("합격")

    if x == 100:
        print("장학금")
    else:
        print("합격")
else:
    print("불합격")

점수를 입력하세요...100
합격
장학금

## 반복문
 - for-loop,while
 - 반복문의 필요성

In [37]:
# NC 10번 출력
print("NC")
print("NC")
print("NC")
print("NC")
print("NC")
print("NC")
print("NC")
print("NC")
print("NC")
print("NC") #개초보

for i in range(15):
  print("NC")

NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC
NC

In [39]:
for i in range(20): # 반복범위임 20번 돌고나면 끝 더이상 안돔 ㅇㅇ
  print(f'{i}번째 NC')

0번째 NC
1번째 NC
2번째 NC
3번째 NC
4번째 NC
5번째 NC
6번째 NC
7번째 NC
8번째 NC
9번째 NC
10번째 NC
11번째 NC
12번째 NC
13번째 NC
14번째 NC
15번째 NC
16번째 NC
17번째 NC
18번째 NC
19번째 NC

## for - loop 특징
- 반복 범위가 주어짐
- 반복 범위 지정 시, 시퀀스 자료형으로도 사용 가능함
 + 시퀀스 자료형 대표적으로 리스트 문자열

In [40]:
nums = [1, 2, 3, 4, 5]
for num in nums:
  print(num)

1
2
3
4
5

In [41]:
strings = "Dions"
for text in strings:
  print(text)

D
i
o
n
s

In [42]:
tuples = (1, 2, 3, 4)
for num in tuples:
  print(num)

1
2
3
4

In [49]:
country_capital

for country in country_capital:
  print(country) # key값만 출력됨
  print(country_capital[country])

대한민국
서울
프랑스
파리
미국
워싱턴
창원
NC

In [50]:
x = '대한민국'
country_capital[x]

'서울'

In [53]:
x = '프랑스'
#print(f'{x}의 수도는 서울이다')
print(f'{x}의 수도는 {country_capital[x]}이다')

프랑스의 수도는 파리이다

In [55]:
# 중첩 포문
# 반복문 내 또 다른 반복문

x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

#print ('x1 y1')
#print ('x1 y2')
#print ('x2 y1')
#print ('x2 y2')

for x in x_list:
  #print(x)
  for y in y_list:
    print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

In [56]:
x = 2
y = 1
f'{x} * {y} = {x * y}'

'2 * 1 = 2'

In [58]:
for y in range(1, 10):
    x = 2
    result = f'{x} * {y} = {x * y}'
    print(result)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
x_list = [2, 3, 4, 5, 6, 7, 8, 9]
y_list = [2, 3, 4, 5, 6, 7, 8, 9]

y = 2

for x in x_list:
  for y in y_list:
    print(f'{x} * {y} = {x * y}')


    for x in range(1, 10):
  for y in range(1, 10):
    print(f'{x} * {y} = {x * y}')
  print("---")

In [59]:
names = ["권", "희", "동"]
ages = [10, 20 , 30]

for name, age in zip(names, ages):
  print(name, age)

권 10
희 20
동 30

In [60]:
names = ["A", "B", "C"]
for idx, name in enumerate(names):
  print(idx, name)

0 A
1 B
2 C

## while 특징
- for-loop 특징 : 항상 반복문의 범위를 지정함
 + 몇번 반복문을 수행할지 숫자로 컨드롤 가능

 - while 특징
  + False 뜰때까지 반복함

In [61]:
# 초깃값 지정

i = 1
n = 3

while i <= n: # 특정 조건문을 false가 되도록 코드를 작성하는게 핵심임
  print(f'현재 {i}번')
  i = i + 1

현재 1번
현재 2번
현재 3번

## break 문
- 중간에 반복문 강제 종료
 + 특정 시점에 반복문 강제

In [66]:
i = 1
n = 3

while True:
    print(f'현재 {i}번')

    if i >= 5:
        break

    i = i + 1

현재 1번
현재 2번
현재 3번
현재 4번
현재 5번

In [67]:
for i in range(10):
  print(f'현재 {i}번')
  if i > 5:
    break

현재 0번
현재 1번
현재 2번
현재 3번
현재 4번
현재 5번
현재 6번

## 문자열과 for-loop

In [68]:
texts = "Python"
for text in texts :
  print(text)
  # text가 t가 되면 break
  if text == 't' :
    print("text는 t입니다.")
    break

P
y
t
text는 t입니다.

## 리스트 컴프리헨션
- for loop 및 for loop if 조건문 한줄로 처리

In [ ]:
# pythonic 코드
numbers = [1, 2, 3, 4, 5]

result = [1, 4, 9, 16, 25] # 거듭제곱

In [76]:
numbers = [1, 2, 3, 4, 5]
result = []

temp1 = numbers[0] ** 2
temp2 = numbers[1] ** 2
temp3 = numbers[2] ** 2

result.append(temp1)
result.append(temp2)
result.append(temp3)

print(result)

[1, 4, 9]

In [74]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
  result.append(i ** 2)

  result

In [73]:
numbers = [1, 2, 3, 4, 5]
result2 = [i ** 2 for i in numbers]
result2

[1, 4, 9, 16, 25]

- 조건문 추가

In [78]:
numbers = [1, 2, 3, 4, 5]
result = []

for i in numbers:
    if i >= 3:
        result.append(i ** 2)

print(result)

[9, 16, 25]

In [79]:
numbers = [1, 2, 3, 4, 5]
result2 = [ i ** 2 for i in numbers if i >= 3]
result2

[9, 16, 25]

# 파이썬 문서화 (Docstring)
-

In [80]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [81]:
import math
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [84]:
def myPower(n):
    '''숫자 n을 입력하면 n의 거듭제곱으로 반환'''
    result = n ** 2
    return result

In [85]:
print(myPower(3))

9

In [86]:
print(myPower.__doc__)

숫자 n을 입력하면 n의 거듭제곱으로 반환

In [87]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [90]:
def read_csv(sep, header):
  '''
  Returns the sum of ~~~.

   Paramerters:
     sep (str) : NC Dions
     header(int) : KT Wiz

     Returns:
      c (int) : Samsung Lions
  '''

  c = sep + header
  return c

In [91]:
print(read_csv.__doc__)

  Returns the sum of ~~~.

   Paramerters:
     sep (str) : NC Dions
     header(int) : KT Wiz

     Returns:
      c (int) : Samsung Lions

## 클래스 상속
- 대분류 > 중분류 > 소분류

- 동물
 + 동물의 공통적인 특징 :살아움직임
 - 포유류
 +(살아움직인다)+ 4발이 있다 새끼를 낳는다

In [95]:
class Animal:
  # Attribute 정의(=클래스 변수)
  name = ""

  # 공통함수
  def eat(self):
    print("나는 먹을 수 있음")

class Dog(Animal): # 클래스 상속을 했다.
                   # 동물 ==> 강아지로 기본 기능을 제공함
  # name = "" # 이 코드는 불 필요함

  # 새로운 메서드
  def dance(self):
    print(f"{self.name} 강아지가 춤을 춘다")

In [96]:
# 객체 생성
a = Dog()
a.name = "새봄"
a.eat()

나는 먹을 수 있음

In [97]:
a.dance()

새봄 강아지가 춤을 춘다

In [99]:
b = Animal()
b.name = "시고르자브종"
b.eat()

나는 먹을 수 있음

## 클래스 Docstring

In [101]:
class Person:
  """
  자기 소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

  """

  def __init__(self, name, age, grade):
    """

    """
    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """

    """
    print(f'내 이름은 {self.name}. 내 나이는 {self.age}. 현재 학년은 {self.grade}. {comment}')

In [102]:
print(Person.__doc__)

  자기 소개하는 Person 클래스.

  '''
  Attributes
  -----------
  name : str
    사람의 이름을 의미
  age : int
    사람의 나이를 의미
  grade : int
    사람의 현재 학년을 의미

  Methods
  -----------
  info(comment=""):
    사람의 개인정보를 출력

In [103]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기 소개하는 Person 클래스.
 |
 |  '''
 |  Attributes
 |  -----------
 |  name : str
 |    사람의 이름을 의미
 |  age : int
 |    사람의 나이를 의미
 |  grade : int
 |    사람의 현재 학년을 의미
 |
 |  Methods
 |  -----------
 |  info(comment=""):
 |    사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |
 |  info(self, comment='')
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)