<a href="https://colab.research.google.com/github/roklp/MLP34/blob/main/240308.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
git remote add origin https://github.com/roklp/project2.git
git branch -M main
git push -u origin main

SyntaxError: invalid syntax (<ipython-input-30-fd76d94f766d>, line 1)

In [ ]:
결측치 처리:

결측치가 있는 행을 삭제하거나 다른 값으로 대체합니다. Pandas의 dropna() 및 fillna() 메서드를 사용합니다.
이상치 처리:

이상치를 감지하고 제거하거나 대체합니다. 이상치를 식별하는 다양한 통계 기법이 있으며, 이상치를 처리하는 방법은 데이터와 문제에 따라 다릅니다.
데이터 형식 변환:

데이터가 잘못된 형식인 경우 이를 올바른 형식으로 변환합니다. 숫자로 된 문자열을 숫자로 변환하거나, 날짜 및 시간 데이터를 datetime 형식으로 변환하는 등의 작업을 수행합니다.
특성 스케일링:

특성의 스케일이 다른 경우, 일반적으로 모든 특성을 동일한 범위 또는 분포로 조정합니다. Min-Max 스케일링 또는 표준화와 같은 방법을 사용합니다.
특성 인코딩:

범주형 특성을 숫자로 변환하여 모델에 입력할 수 있도록 합니다. 원-핫 인코딩 또는 레이블 인코딩과 같은 방법을 사용합니다.
데이터 분할:

데이터를 학습 세트와 테스트 세트로 분할합니다. 학습에 사용할 데이터와 모델의 일반화를 평가할 데이터를 분리합니다.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
pd.read_csv("/content/drive/MyDrive/data/(직장인구-상권)_2022.csv")

In [20]:
print(df.columns)

Index(['기준_년분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명', '총_직장_인구_수',
       '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수', '연령대_20_직장_인구_수',
       '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
       '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
       '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
       '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
       '여성연령대_60_이상_직장_인구_수'],
      dtype='object')

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/data/(직장인구-상권)_2022.csv")

df.drop(columns=['기준_년분기_코드', '상권_구분_코드', '상권_코드'], inplace=True)

print(df)

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/data/(직장인구-상권)_2022.csv"
df = pd.read_csv(file_path)

# 이상치 식별 함수
def identify_outliers(data):
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return data[(data < lower_bound) | (data > upper_bound)]

# 이상치 식별
outliers = identify_outliers(df[['총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수', '연령대_20_직장_인구_수',
                                '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수', '연령대_60_이상_직장_인구_수',
                                '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수', '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수',
                                '남성연령대_50_직장_인구_수', '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
                                '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수', '여성연령대_60_이상_직장_인구_수']])

# 이상치 제거
df = df[~df.isin(outliers)].dropna()

# 이상치가 제거된 데이터프레임 출력
print(df)

In [ ]:
import pandas as pd

file_path = "/content/drive/MyDrive/data/(직장인구-상권)_2022.csv"
df = pd.read_csv(file_path)

# 결측치 확인
print(df.isnull().sum())

In [ ]:
# 주어진 데이터프레임의 열을 숫자형으로 변환
df['총_직장_인구_수'] = pd.to_numeric(df['총_직장_인구_수'])
df['남성_직장_인구_수'] = pd.to_numeric(df['남성_직장_인구_수'])
df['여성_직장_인구_수'] = pd.to_numeric(df['여성_직장_인구_수'])
df['연령대_10_직장_인구_수'] = pd.to_numeric(df['연령대_10_직장_인구_수'])
df['연령대_20_직장_인구_수'] = pd.to_numeric(df['연령대_20_직장_인구_수'])
df['연령대_30_직장_인구_수'] = pd.to_numeric(df['연령대_30_직장_인구_수'])
df['연령대_40_직장_인구_수'] = pd.to_numeric(df['연령대_40_직장_인구_수'])
df['연령대_50_직장_인구_수'] = pd.to_numeric(df['연령대_50_직장_인구_수'])
df['연령대_60_이상_직장_인구_수'] = pd.to_numeric(df['연령대_60_이상_직장_인구_수'])
df['남성연령대_10_직장_인구_수'] = pd.to_numeric(df['남성연령대_10_직장_인구_수'])
df['남성연령대_20_직장_인구_수'] = pd.to_numeric(df['남성연령대_20_직장_인구_수'])
df['남성연령대_30_직장_인구_수'] = pd.to_numeric(df['남성연령대_30_직장_인구_수'])
df['남성연령대_40_직장_인구_수'] = pd.to_numeric(df['남성연령대_40_직장_인구_수'])
df['남성연령대_50_직장_인구_수'] = pd.to_numeric(df['남성연령대_50_직장_인구_수'])
df['남성연령대_60_이상_직장_인구_수'] = pd.to_numeric(df['남성연령대_60_이상_직장_인구_수'])
df['여성연령대_10_직장_인구_수'] = pd.to_numeric(df['여성연령대_10_직장_인구_수'])
df['여성연령대_20_직장_인구_수'] = pd.to_numeric(df['여성연령대_20_직장_인구_수'])
df['여성연령대_30_직장_인구_수'] = pd.to_numeric(df['여성연령대_30_직장_인구_수'])
df['여성연령대_40_직장_인구_수'] = pd.to_numeric(df['여성연령대_40_직장_인구_수'])
df['여성연령대_50_직장_인구_수'] = pd.to_numeric(df['여성연령대_50_직장_인구_수'])
df['여성연령대_60_이상_직장_인구_수'] = pd.to_numeric(df['여성연령대_60_이상_직장_인구_수'])

# 데이터프레임의 열들의 형식 확인
print(df.dtypes)

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

min_max_scaler = MinMaxScaler()

standard_scaler = StandardScaler()

# Min-Max 스케일링할 열 선택
columns_to_scale_min_max = ['총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
                            '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
                            '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
                            '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
                            '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
                            '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
                            '여성연령대_60_이상_직장_인구_수']

# 표준화할 열 선택
columns_to_scale_standard = ['총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
                             '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
                             '연령대_60_이상_직장_인구_수', '남성연령대_10_직장_인구_수', '남성연령대_20_직장_인구_수',
                             '남성연령대_30_직장_인구_수', '남성연령대_40_직장_인구_수', '남성연령대_50_직장_인구_수',
                             '남성연령대_60_이상_직장_인구_수', '여성연령대_10_직장_인구_수', '여성연령대_20_직장_인구_수',
                             '여성연령대_30_직장_인구_수', '여성연령대_40_직장_인구_수', '여성연령대_50_직장_인구_수',
                             '여성연령대_60_이상_직장_인구_수']

# Min-Max 스케일링 수행
df[columns_to_scale_min_max] = min_max_scaler.fit_transform(df[columns_to_scale_min_max])

# 표준화 수행
df[columns_to_scale_standard] = standard_scaler.fit_transform(df[columns_to_scale_standard])

# 결과 출력
print(df.head())

In [29]:
# 원-핫 인코딩 수행
df_encoded = pd.get_dummies(df)

# 결과 출력
print(df_encoded.head())

    기준_년분기_코드    상권_코드  총_직장_인구_수  남성_직장_인구_수  여성_직장_인구_수  연령대_10_직장_인구_수  \
1       20221  3110018   2.325522    1.648247    3.053869       -0.540308
2       20221  3110006  -0.928336   -0.851477   -0.924631       -0.540308
8       20221  3110019   0.280703    0.417516    0.036031       -0.540308
9       20221  3130016  -1.029766   -0.947130   -1.021668       -0.540308
10      20221  3130019  -0.920222   -0.813216   -0.963446       -0.540308

    연령대_20_직장_인구_수  연령대_30_직장_인구_수  연령대_40_직장_인구_수  연령대_50_직장_인구_수  ...  \
1         1.617582        1.767390        2.276494        1.626477  ...
2        -0.797493       -0.744250       -0.896741       -0.935052  ...
8         0.410045        0.582655        0.281441        0.155663  ...
9        -0.851161       -0.839029       -0.990995       -1.017682  ...
10       -0.690156       -0.760046       -0.928159       -0.951578  ...

    상권_코드_명_회기역 1번  상권_코드_명_회기역 2번  상권_코드_명_회현역 1번  상권_코드_명_효문고등학교  \
1                0               0               0               0
2                0               0               0               0
8                0               0               0               0
9                0               0               0               0
10               0               0               0               0

    상권_코드_명_효창공원앞역 2번  상권_코드_명_효창공원앞역 6번  상권_코드_명_효창동주민센터  상권_코드_명_후암시장  \
1                   0                  0                0             0
2                   0                  0                0             0
8                   0                  0                0             0
9                   0                  0                0             0
10                  0                  0                0             0

    상권_코드_명_흑리단길  상권_코드_명_흑석2치안센터
1              0                0
2              0                0
8              0                0
9              0                0
10             0                0

[5 rows x 1169 columns]